<div class="collapse navbar-collapse float-right" id="navbarSupportedContent-5">
    <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item avatar dropdown">
            <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="badge badge-danger ml-2" id="NotificationCount"></span>
                <i class="fas fa-bell"></i>
            </a>
            <div id="NotificationDropDown" class="dropdown-menu dropdown-menu-lg-right dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-5">
            </div>
        </li>
    </ul>
</div>

