@model Aegis.Models.PlayerModel

    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse mb-1">
        <ul class="navbar-nav flex-grow-1 flex-sm-row justify-content-center ">
            <li class="nav-item mr-2 border p-1">
                <p style="margin-bottom:0px;">Level [@Model.Level]</p>
            </li>
            <li class="nav-item mr-2 border p-1">
                <p style="margin-bottom:0px;">Experience [@Model.Experience]</p>
            </li>
            <li class="nav-item mr-2 border p-1">
                <p style="margin-bottom:0px;">Gold [@Model.Gold]</p>
            </li>
            <li class="nav-item mr-2 border p-1">
                <p style="margin-bottom:0px;">Mana [@Model.CurrentMana/@Model.TotalMaxMana]</p>
            </li>
        </ul>

        
    </div>
    